/* PAGE */
html{
    margin:0;
    padding:0;
    width:100%;
}
body{
    margin:0;
    /*padding-left:10%;
    padding-right:10%;*/
    font-family:"Segoe UI",Roboto,sans-serif;
    background-color:rgb(8, 8, 48);
    color:white;
}
#splash{
    background-color:rgb(8, 8, 48);
    color:white;
    text-align:center;
}
.container{
    padding-left:10%;
    padding-right:10%;
}

/* NAVBAR */
nav{
    background-color:black;
    position:sticky;
    top:0;
    padding:20px;
    text-align:left;
    box-shadow:0px 3px 100px rgb(56, 56, 184);
    z-index:99;
}
a{
    position:relative;
    color:white;
    font-size:20px;
    text-decoration:none;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}
a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.1s ease-in-out 0s;
}
a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#mobileNav {
    position:fixed;
    top:-100%;
    transition: top 0.3s;
    background-image:url('clouds.jpg');
    background-size:cover;
    width:100%;
    height:100%;
    text-align:left;
    z-index:100;
    padding-top:10px;
    box-sizing: border-box;
}
#mobileNav a{
    position:relative;
    font-family:Bahnschrift, Lucida, sans-serif;
    display:block;
    font-size:40pt;
    color:black;
    text-decoration:none;
    padding:20px;
    padding-bottom:0px;
    padding-top:0px;
    letter-spacing:-0.5px;
}
#mobileNav a::before{
    display:none;
}
#closebutton{
    position:fixed;
    display:none;
    right:20px;
    top:10px;
    opacity:0;
    color:black;
    font-size:30pt;
    z-index:101;
    transition:opacity 0.3s;
}

#burger{
    display:none;
    cursor:pointer;
}
#closebutton::before,#burger::before{
    display:none;
}

#links{
    display:inline-block;
}

/* HEADINGS */
h1{
    font-family:Bahnschrift, Helvetica, sans-serif;
    text-align:center;
    font-size:35pt;
    letter-spacing:5px;
}
h2{
    font-size:20pt;
    font-weight:400;
    letter-spacing:-0.5px;
}
#description{
    padding-left:20%;
    padding-right:20%;
    text-align:center;
}

/* STARTPAGE ICONS */
.icon{
    transition:0.2s all;
    filter:brightness(0.9);
}
.icon::before{
    display:none;
}
.icon img{
    max-width:100%;
    height:auto;
}
.icon:hover{
    filter:brightness(1.1);
    transform:scale(1.2);
}
#imgBox{
    display:grid;
    grid-template-columns: repeat(2,minmax(0px,1fr));
    padding-left:20%;
    padding-right:20%;
}
.smallicon{
    text-align:center;
}
.smallicon img{
    max-width:20%;
}

/* LISTS */
li{
    font-size:18pt;
    padding-bottom:10px;
}
.header{
    color:rgb(224, 31, 121);
    font-size:25pt;
    font-weight:normal;
}

/* CARD */
.card{
    color:rgba(255, 255, 255, 0);
    background-image:url('placeholder.png');
    background-size:cover;
    background-blend-mode:darken;
    transition:all 0.2s;
    padding:20px;
    padding-top:70px;
    padding-bottom:70px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0);
    margin:10px;
    border-radius:5px;
    box-shadow:0px 0px 50px rgb(20, 53, 104);
    position:relative;
}
/*.card::before{
    content:"";
    border-radius:5px;
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(20, 53, 104);
    top:0px;
    left:0px;
    z-index:-5;
}
.card:hover::before{
    top:10px;
}*/
.card:hover{
    background-color:rgba(0, 0, 0, 0.534);
}
.card:hover:nth-child(odd){
    transform:rotate(2deg);
}
.card:hover:nth-child(even){
    transform:rotate(-2deg);
}
/*
.card:hover::before > .card{
    border-radius:0px 0px 100px red;
}*/
.card a{
    color:transparent;
    display:inline-block;
    background-color:transparent;
    padding:0px;
    font-size:30px;
}
.card:hover a{
    color:white;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

/* JOURNAL */
p{
    font-size:14pt;
}
pre{
    font-size:14pt;
    font-family:"Segoe UI",Roboto,sans-serif;
    white-space: pre-wrap;
}
#entries{
    padding-left:20%;
    padding-right:20%;
}
hr{
    border:2px solid rgb(29, 81, 160);
}
.linkbutton{
    border:2px solid white;
    border-radius:3px;
    padding:7px;
    margin:5px;
    transition:background-color 0.2s;
    white-space: nowrap;
    display:block;
    float:left;
}
br{
    clear:left;
}
.linkbutton:hover{
    background-color:rgb(224, 31, 121);
}

/* CONTACT FORM */
form *{
    box-sizing: border-box;
}
input,textarea{
    padding:10px;
    font-size:14pt;
    font-family:"Segoe UI",Roboto,sans-serif;
    border-radius:10px;
    border:none;
    width:100%;
    background-color:rgb(14, 37, 71);
    color:white;
}
#name,#email{
    margin:5px;
}
#message{
    margin:5px;
    width:98%;
}
textarea{
    height:300px;
}
input[type=submit]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:rgb(255, 0, 106);
    max-width:100%;
    width:400px;
    transition:background-color 0.1s;
}
input[type=submit]:hover{
    background-color:rgb(236, 216, 37);
}

/* MOBILE */
@media screen and (max-width:900px){
    #imgBox{
        padding:10px;
    }
    #description{
        padding:20px;
    }
    .container{
        padding-left:10px;
        padding-right:10px;
    }
    #entries{
        padding-left:10px;
        padding-right:10px;
    }
    #links{
        display:none;
    }
    #burger{
        display:block;
    }
    .icon:hover{
        filter:brightness(1);
        transform:none;
    }
    .card{
        color:rgba(255, 255, 255, 1);
        /*background-color:rgba(0, 0, 0, 0.534);*/
        padding-left:10px;
        padding-right:10px;
        padding-top:60px;
        padding-bottom:60px;
    }
    .card a{
        display:inline-block;
        box-shadow:0px 0px 100px rgba(0, 0, 0, 0.712);
        background-color:rgba(0, 0, 0, 0.753);
        padding:10px;
        color:white;
    }
}